<section class="page-header">
    <div class="container">
        <h1>Edit your Profile</h1>
    </div>
</section>


<section class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                <form ng-submit="updateAccount(updateAccountForm)" class="edit-profile-form boxed" role="form" ng-init="updateAccountForm = {'user': {'job': nil, 'job_description': nil, 'price': nil} }">
                    <header class="size-18 margin-bottom-20">
                        Edit your Ao Dispor profile
                    </header>

                    <fieldset ng-disabled="!user.signedIn">
                        <section class="job">
                            <label class="label">Job</label>
                            <label class="input">
                                <input type="text" name="user[job]" ng-model="updateAccountForm.user.job" />
                            </label>

                            <div class="note note-error"></div>
                        </section>

                        <section class="job_description">
                            <label class="label">Job Description</label>
                            <label class="input">
                                <input type="text" name="user[job_description]" ng-model="updateAccountForm.user.job_description" />
                            </label>

                            <div class="note note-error"></div>
                        </section>

                        <section class="price">
                            <label class="label">Price</label>
                            <label class="input">
                                <input type="number" name="user[price]" step="0.1" min="0" ng-model="updateAccountForm.user.price" />
                            </label>

                            <div class="note note-error"></div>
                        </section>
                    </fieldset>


                    <footer>
                        <button class="btn-u" type="submit">Save Changes</button>
                    </footer>
                </form>
            </div>
        </div>
    </div>
</section>